<main>
  <floormenu></floormenu>
  <div class="col col-60 home-status">
    <!--<h2>
      {{ $ctrl.floorplanService.floor }}
      {{ ($ctrl.floorplanService.currentRoom.name) ? '- ' + $ctrl.floorplanService.currentRoom.name : ''}}
    </h2>-->
    <h2>{{ $ctrl.floorplanService.currentRoom.name }}</h2>
    <div class="col col-25 panel">
      <h1>{{ $ctrl.floorplanService.currentTemperature }}</h1>
      <p>{{ $ctrl.floorplanService.floor }} Temperature</p>
      <span>&deg;f</span>
    </div>
  </div>
  <div class="col col-40 home-map">
    <floorplan></floorplan>
  </div>
</main>
