<main>
  <floormenu></floormenu>
  <div class="col col-60 home-status">
    <!--<h2>
      {{ $ctrl.floorplanService.floor }}
      {{ ($ctrl.floorplanService.currentRoom.name) ? '- ' + $ctrl.floorplanService.currentRoom.name : ''}}
    </h2>-->
    <h2>{{ $ctrl.floorplanService.currentRoom.name }}</h2>
    <clock></clock>
    <tile
      title="{{$ctrl.floorplanService.currentTemperature}}"
      message="{{$ctrl.floorplanService.floor}}"
      offset-text="&deg;f">
    </tile>
  </div>
  <div class="col col-40 home-map">
    <floorplan></floorplan>
  </div>
</main>
